node_modules
npm-debug.log
package-lock.json

render/dist
render/tmp
render/out-tsc

render/node_modules

render/chrome-profiler-events.json
render/speed-measure-plugin.json

render/.idea
render/.project
render/.classpath
render/.c9/
render/*.launch
render/.settings/
render/*.sublime-workspace

render/.vscode/*
render/!.vscode/settings.json
render/!.vscode/tasks.json
render/!.vscode/launch.json
render/!.vscode/extensions.json
render/.history/*

render/.sass-cache
render/connect.lock
render/coverage
render/libpeerconnection.log
render/npm-debug.log
render/yarn-error.log
render/testem.log
render/typings

render/.DS_Store
render/Thumbs.db